/** 
  settings 
**/   
@import 'settings/font.scss';
@import 'settings/reset.scss';
@import 'settings/media-querys.scss';
/**
  main
**/
$base-color: #fd951f;
$bg-color: #bf00ff;
$white: #f0f0f9;

body {
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: $bg-color;
}

#m-keyboard {
    background: #000;
    border: 2px solid lighten($base-color, 100%);
    border-radius: 20px 20px 8px 8px;
    height: 300px;
    width: 600px;
}

#m-keyboard__wrapper {
    display: flex;
    height: 230px;
    margin: 55px auto 0 auto;
    width: 95%;

    li {
        cursor: pointer;
        display: flex;
        height: 100%;
        width: 15%;

        position: relative;
    }
}

.white {
    background: $white;
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;

    position: relative;
    z-index: 1;

    &:active {
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7) inset;
    }
}

.black {
    background: #000;
    box-shadow: 
    1px 0 #777, 0 2px #777, 0 3px #666, 0 4px #555, 0 5px #444, 0 6px 1px rgba(0, 0, 0, 0.1), 
    
    0 0 5px #0000001a, 0 1px 3px #0000004d, 0 3px 5px #00000033, 0 5px 10px #00000040, 
    
    0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
    height: 120px;
    transform: translateX(-50%);
    width: 70%;
   
    position: absolute; 
    left: 100%;
    z-index: 2;

    &:active {
        box-shadow: 1px 0 0 #555, 0 3px 0 2px #555, 0 3px 0 1px #444, 0 3px 0 1px #333;
    }
}

.playing {
    transform: scale(0.98);
    border-color: $base-color;
    box-shadow: 0 0 5px 10px $base-color;
}

.key {
    transition: transform 80ms ease;
}