html {
    font-size: 62.5%;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
}

*::before, 
*, 
*::after {
    border: none;
    box-sizing: border-box;
    margin: 0;                                  
    outline-color: rgb(0, 178, 238);
    padding: 0;
    -webkit-font-smoothing: antialiased; /* macOS */
    -moz-osx-font-smoothing: grayscale; /* macOS */
}

a {
    text-decoration: none;
    color: inherit;
}

a:active,
a:visited {
    color: inherit;
}

ul {
    list-style: none;
}

input[type="password"]::-ms-reveal {
    display: none;
}